#main{

    background-image: url("../images/The new England Aquarium/bg-pattern.gif");
    background-size: 100%;
    margin: 0 auto;
    border: 1px red solid ;
}
#banner{

    width: 100%;
    height: 686px;
    background-image: url("../images/The new England Aquarium/A_HEADER-NEAQ-ret.jpg");
    background-size: 100%;
}
#toptext{

    height: 440px;
    width:80%;
    background-color: #ffffff;
    margin-left: 9.2%;
    margin-top: -80px;
}
#toptextleft{
    width: 65%;
    height:440px;
    float: left; border: red 1px solid;

}
#toptextright{
    border: red 1px solid;
    text-align: right;
    width: 28%;
    height:440px;
    float:left;
    padding-right: 3%;


}
#topinner{

    margin-top: -70px;
    margin-left: 8%;
    width: 35%;
    height: 60px;
    line-height: 50px;
    background-color: red;

}
#top{

    height: 570px;
    width:84%;
    background-image: url("../images/The new England Aquarium/B_Block12.jpg");
    background-size: 100%;
    margin-left: 8%;
}

#middletext{
    border: red solid 3px;
    color: #696969;
    height: 335px;
    width:84%;
    margin-left: 8%;
    font-size: smaller;
}
#middletextleft{
    width: 65%;
    height: 335px;
    float:left;
}
#middletextright{
    width: 30%;

    height: 335px;
    float:left;
    padding-left: 5%;
    padding-top: 2%;
}
#middletrebleimg{
    width: 300%;
    height: 655px;
}
#middle{

    height: 655px;
    width:96%;
    margin-left: 2%;
    background-image: url("../images/The new England Aquarium/C_casestudy-neaq-blk2-1.jpg");
    background-size: 100%;
    margin-top: 100px;
}
#mid-late{

    width:67% ;
    height:530px;
    background-image: url("../images/The new England Aquarium/D_Block32.jpg");
    background-size: 100%;
    margin-left: 22%;


}
#mid-latetext{
    border: red solid 3px;
    height: 220px;
    width:22%;
    margin-left: 8%;
    margin-top: -130px;
    background-color: #ffffff;
    box-shadow: 0px 30px 30px lightgray;
    font-size: smaller;

}
#bottom{

    height: 440px;
    width: 95%;
    margin-top: 100px;
}
#bottom1{
    height: 440px;
    width: 17%;
    float: left;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

#bottom2img{

    height: 440px;
    width: 27.6%;
    background-image: url("../images/The new England Aquarium/THUMBS2.jpg");
    background-size: 100%;
    float: left;

}
#bottom3img{

    height: 440px;
    width: 27.6%;
    background-image: url("../images/The new England Aquarium/THUMB_JFK_Ret_2.jpg");
    background-size: 100%;
    float: left;

}
#bottom4img{

    height: 440px;
    width: 27.8%;
    background-image: url("../images/The new England Aquarium/THUMB_NA_ret.jpg");
    background-size: 100%;
    float: left;

}
#footer{
    margin-top: 0px;
    height: 320px;
    width: 77%;
    color: #ffffff;
    background-color: rgb(24,23,25);
}
#footerleft{
    height: 320px;
    width: 25%;
    float:left;
}
#footermiddle{
    height: 320px;
    width: 25%;
    float:left;
    padding-top: 5%;
    font-size: x-small;
}
#footerright{
    height: 320px;
    width: 25%;
    float:left;
    padding-top:5%;
    font-size: x-small;

}



